<h1><%= @book.title %></h1>
<h2><%= @book.full_authors_display %></h2>

<h3>Details</h3><%# TODO: Drawer %>

Librarian Rating: <%= @book.rating || "Unrated" %></br>
Librarian Favorite? <%= @book.favorite ? "Yes" : "No"  %></br>

</br>
Format: <%= @book.format || "" %><br/>
Pages: <%= @book.pages || "" %><br/>
Year of Publication: <%= @book.published || "" %><br/>
Publisher: <%= @book.publisher || "" %><br/>
Publisher Location: <%= @book.location || "" %><br/>
Edition: <%= @book.edition || "" %><br/>

</br>
Language: <%= @book.language || "" %><br/>
Original Language: <%= @book.original_language || "" %><br/>
Translator: <%= @book.translator || "" %><br/>

</br>
Editor: <%= @book.editor || "" %><br/>

</br>
ISBN 10: <%= @book.isbn_10 || "" %><br/>
ISBN 13: <%= @book.isbn_13|| "" %